.repeat-item.ng-enter
{
  -webkit-transition:0.3s linear all;
  -moz-transition:0.3s linear all;
  -o-transition:0.3s linear all;
  transition:0.3s linear all;
}

.repeat-item.ng-leave
{
}

.repeat-item.ng-enter,
.repeat-item.ng-leave.ng-leave-active {
  opacity:0;
}
.repeat-item.ng-leave,
.repeat-item.ng-enter.ng-enter-active {
  opacity:1;
}

.pace .pace-progress {
  background: #29d;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  height: 2px;

  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  -o-transition: width 0.3s;
  transition: width 0.3s;
}

.pace-inactive {
  display: none;
}